body{
  font-family: "Montserrat", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Indie Flower", cursive;
  font-family: "Gloria Hallelujah", cursive;
  background-color: black;
  color: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-playGround-container{
  display: none;
}

.css-playGround-container-visible{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-sign-movement{
  font-size: 2em;
  margin: 5px 0 25px;
}

.container-tic-tac-toe{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  font-weight: 700;
  color: #fff;
}

.button-container{
  display: flex;
  cursor: url('/img-icons/point.png'), auto;
  cursor: pointer;
}

.css-field{
  width: 100px;
  height: 100px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
 
  display:flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: url('/icons8-pencil-20.png');
  cursor: url('/img-icons/blue-pencil.png'), auto;
  background-color: transparent;
  font: inherit;
  font-size: 40px;
}

.css-field:hover{
  background-color: rgba(0, 187, 255, 0.79);
}

.css-x-button,
.css-o-button{
  width: 100px;
  height: 100px;
  font-size: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  font:inherit;
  font-size: 40px;
  border: none;
  cursor: url('/icons8-hand-cursor-25.png'), auto;
}

.js-check-result,
.js-reset-button{
  font-size: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  font:inherit;
  font-size: 40px;
  border: none;
  cursor: url('/icons8-hand-cursor-25.png'), auto;
  transition: 200ms transform;
}

.js-check-result:hover,
.js-reset-button:hover{
  color: #7FFF00;
  transform: translate(10px);
}

.css-field:nth-child(3n){
  border-right: none;
}

.css-field:nth-child(6) ~ .css-field{
  border-bottom: none;
}

.js-answer,
.js-second-answer{
  font-size: 30px;
  margin: 20px 0;
}

.column{
  flex-direction: column;
}